<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ebank · Phoenix Framework</title>
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">	 
	   <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">   
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body style="background-color: #f9f9f9;">
   
    <main role="main" style="">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <div class="columns" style="width:100vw;height:100vh">

            <%# header %>
            <div id="index1_header" class="columns column col-12" style="height: 70px ;background-color:#fff; width: 100vw">
                  <h4 class="h2 column col-2" style="font-size:14px;margin-left:100px"> Welcome back, <b>Silas</b> </h4>             
                  <div class="column col-ml-auto col-7">
                  <div class="columns" style="padding: 25px 15px 0 0">
                    <img class="column col-ml-auto col-3"  src="/images/bell.svg" style="height:15px;width:15px;margin-right: 4rem"/>
                    <span id="btn-header-layout" class="btn column col-2"><i class="icon icon-people"></i><b>Account</b> <i class="icon icon-arrow-down"></i></span> 
                   </div>
                  </div>
              </div> 

          <%# body     %>
          <div id="index_body" class="columns column col-12">
                <%# sidebar %>
                    <div id="side_bar" class="column col-2" style="width:72px;background-color:#fff;min-height:calc(100vh - 70px);"> 
                        <ul class="ul-list">
                        <li id="home-icon" class="li-list" active><a><img src="/images/home.svg" alt=""/></a></li>
                        <li id="transfer-arrow" class="li-list"><a><img src="/images/arrow.svg" alt=""/></a></li>
                       
                        </ul>
                            
                    </div>
      <%= render @view_module, @view_template, assigns %>
      </div>
    </main>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
     <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	  <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>    
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
